<html>
<head>
<title>
  MLH 2017 | Secret Santa App
</title>
<link rel="stylesheet" type="text/css" href="santastyle.css">
</head>
<body>
  <form href="action-page.html">
    <h1>First name:
    <br>
    <input type='text' name='firstname' placeholder='John'>
    <br>
    <br>
    Last name:<br>
    <input type='text' name='lastname' placeholder='Thrasher'>
    <br>
    <br>
    Phone numbers of your elves (include yourself and separate numbers with commas)<br>
    <input type='text' name='numbers' placeholder='3055310303, etc'><br>
    </h1>
    <br>
    <br>
    <h2>
    <input type="radio" name="area" value="Local"> Local<br>
    <input type="radio" name="area" value="Far"> Far<br>
    <br>
    <input type='submit' value='Organize Elves'>
    <br>
    <a href='/action-page.html'>Click to Submit Info</a>
    </h2>
  </form>

</body>
</html>
