<html>
</head>
<title>
  MLH 2017 | Secret Santa App
</title>
</head>
<body>
  <form href="action-page.html">
    First name:<br>
    <input type='text' name='firstname' placeholder='John'><br>
    Last name:<br>
    <input type='text' name='lastname' placeholder='Thrasher'><br>
    Phone numbers of your elves (include yourself and separate numbers with commas)<br>
    <input type='text' name='numbers' placeholder='3055310303, etc'><br>
    <br>
    <input type="radio" name="area" value="Local"> Local<br>
    <input type="radio" name="area" value="Far"> Far<br>
    <br>
    <input type='submit' value='Organize Elves'>
    <a href='/action-page.html'>Click to Submit Info</a>
  </form>

</body>
</html>
