<<<<<<< HEAD:MLH_secretSanta/static/MLH_secretSanta/santastyle.css
{% load static %}
=======




>>>>>>> upstream/master:MLH_secretSanta/templates/MLH_secretSanta/santastyle.css

h1 {
    font-size: 150%;
    text-align: center
}

h2	{
    font-size: 100%;
    text-align: center
}

h3	{
    font-size: 110%;
    text-align: center
}

body	{

	background-image: url('img/wrap_paper.jpg');
/*	background-color: #3ea055;	*/


    font-family: 'Vollkorn SC', serif;


}

.xmas {

	width: 700px;
	height: 85px;
	text-align: center;
	padding: 2em;
	border: .5em solid red;
	
	
	background-color: #E4E4D9;

	margin: auto;
	border-radius: 25px;

}

.xmas2 {

	width: 700px;
	height: 95px;
	text-align: center;
	padding: 2em;
	border: .5em solid red;
	
	
	background-color: #E4E4D9;

	margin: auto;
	border-radius: 25px;

}

